body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    margin-bottom: 5px;
}

#currentMonth {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.nav-btns button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 15px;
    cursor: pointer;
}

#calendarContainer {
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #0002;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.day {
    padding: 15px;
    background: #fafafa;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.day:hover {
    background: #e8e8e8;
}

.week-view {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.week-day {
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 10px;
}

/* Spotify */
#spotifySection {
    margin-top: 40px;
}

#spotifyInput {
    width: 60%;
    max-width: 450px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
}

#loadSpotify {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#spotifyPlayer iframe {
    margin-top: 20px;
    width: 300px;
    height: 380px;
    border-radius: 12px;
}
